.label-style {
  padding-right: 10px;
}

.mat-card{
  div {
    padding-right: 10px;
  }
}

.delete-button {
  margin-bottom: 5px
}

.sub-header-style {
  div {
    width: 50%;
    button {
      float: right;
      mat-icon{
        margin-bottom: 5px;
      }
    }
  }
}

.container-div{
  margin: 15px;
}

