.label-style {
  div {
    padding-right: 10px;
  }
}

.container-div{
  margin: 15px
}

.mat-card-button{
   cursor: pointer;
 }

.mat-card-button:hover{
  background-color: #2532b5;
}

.mat-card-button-disabled{
  cursor: default;
  background-color: gray;
  color: black;
}

.mat-card-button-disabled:hover{
  background-color: gray;
  color: black;
}
